.flex-container {
    display: flex;
    background-color: black;
    width: 95px;
    height: 95px;
}
.flex-item {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin: 5px;
}
