/* Basic Style */
* {padding: 0; margin: 0;}

/* Text Formatting */
@font-face {
    font-family: MyMontserrat;
    src: url('./fonts/montserrat/montserrat-regular.ttf');
}
@font-face {
    font-family: MyMontserrat;
    src: url('./fonts/montserrat/montserrat-bold.ttf');
    font-weight: bold;
}

article {
    width: 66.66%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    color: deepskyblue;
    margin-top: 13px;
    margin-bottom: 5px;
    text-transform: uppercase;
    word-spacing: 0.5em;
}

p {
    margin-bottom: 0.5em;
    text-indent: 2em;
    line-height: 1.7em;
    font-size: 1.1em;
    word-wrap: break-word; /* 定义是否允许断词 */
    word-break: break-all; /* 定义如何断词 */
}
p::first-letter {
    font-family: MyMontserrat;
    font-weight: 100;
    font-size: 18px;
    color: crimson;
    text-transform: uppercase;
}

