/* Basic Style */
* {
    padding: 0;
    margin: 0;
}
main {
    width: 66.66%;
    margin: 0 auto;
}

#exp {
    width: 71%;
    height: 33.33%;
    margin: 33.33% auto;
    border: 10px solid seagreen;
    padding: 17px;
}
ul {
    list-style-position: inside;
    text-indent: 1em;
}
h3 {margin-bottom: 1em;}
p {
    word-break: break-all;
}
nav {
    border-bottom: 1px solid #ccc;
    padding: 11px 17px;
}
nav ul li {
    display: inline-block;
}
