.image-wrap {
    position: relative; /*important*/

    border: 1px solid #ccc;
    width: 66.66%;
    margin: 0 auto;
}
.image-center-text {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}
img {
    width: 100%;
    height: auto;
}