/*Basic Style*/
* { padding: 0; margin: 0;}

main {width: 66.66%; margin: 0 auto;}

table {
    border-collapse: collapse;
    width: 100%;
}

table, td, th {
    border: 1px solid black;
}

td, th {
    padding: 7px 11px;
    height: 30px;
}
