* {
    padding: 0;
    margin: 0;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
}
nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}
nav ul li {
    float: left;
    border-right: 1px solid #bbb;
}
nav ul li:last-child {
    border-right: none;
}
nav ul li a{
    display: block;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

nav ul li a:not(.active):hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
.float-right {
    float: right;
}

main {
    margin-top: 60px;
}